.jumbotron {
  /*padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;*/

   background: url("../images/customer.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

}



.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
  color: #fff;

}

.jumbotron .container {
  max-width: 40rem;
  
}

.jumbotron .container .lead {
  color: #fff;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
/*features*/
.features {
  margin-top: 3%;
}

.features h3 {
  padding-bottom: 2%;
}
/*features*/

.intro{
  font-size: 17px;
  color:#404040;
}

/*connect*/
.connect {
  background-color:#FD5D14;
  height: 200px;
}

.connect h2 {
  padding-top: 3%;
  padding-left: 12%;
}

.myList {
  margin-top: 4%;
  
}

.myList li{
  font-size: 17px;
  color:#000000;
}
/*connect*/

/*notice*/
.notice h4 {
  color: #FD5D14;
  padding-top: 2%;

}
.notice {
  background-color:#000000;
  height: 150px;
}

.btn-default {
  margin-left: 40%;
  background-color: #fff;
  color: #000000;
}
/*notice*/


/*media queries*/
@media screen and (max-width: 480px) {
  /*body {
    background-color: yellow;
  }*/

  /*thumbnail media queries*/
  .col-md-4 {
    margin-bottom: 3%;
  }

  /*connect*/
  .connect{
    height: 350px;
  }
  .connect1 {

    width: 100%;
    height: 100px;
    background-color: yellow;
  }

  .connect2{
    width: 100%;
    /*display: flex;*/
   /* display: block;
    padding: auto 3%;*/

  }

 .connect2 ul{
  width: -moz-fit-content;
  width: fit-content;
  
  padding: 5px;
  margin: 2%;
 }

 .connect2 ul li{
  margin: 3s%;
 }





}